<mat-card class="audio-card">
    <mat-card-actions>
      <section *ngIf="data">
        <!-- ### find audiofile in data ### -->
        <div *ngFor="let bundle of data">
          <div *ngFor="let item of bundle?.query">
            <div *ngFor="let file of bundle?.object?.parentOf">
              <div *ngIf="file.id == audioId">
                <mat-list>
                  <mat-chip-list>
                    <mat-icon>folder</mat-icon>
                    {{item.title}}
                  </mat-chip-list>
                  <br/>
                  <mat-chip-list>
                    <mat-icon>audiotrack</mat-icon>
                    {{file.label}}
                  </mat-chip-list>
                  <br/>
                  <!-- ##### Audioplayer #####-->
                  <mat-card-content>
                    <!--audio controls style="width: 100%; height: auto;"-->
                    <div style="width: 100%; height: auto;">
                      <audio controls>
                        <source [src]="audio" [type]="audioType">
                        <p> Your browser doesn't support HTML5 Audio. </p>
                      </audio>
                  </div>
                  </mat-card-content>
                  <!-- ##### /Audioplayer #####-->
                  <p class="mat-caption">
                    {{item.description}}
                  </p>
                </mat-list>
              </div>
            </div>
          </div>
        </div>
      </section>
    </mat-card-actions>
  </mat-card>
